@import '../variablesScss.scss';
@import '../buttons/buttons.css';

main {
    padding-top: 15vh;
    div{
        h1 {
                font-family: "sofachrome", sans-serif;
                font-weight: 400;
                font-style: normal;
                font-size: 24px;
                text-align: center;
                color: $lgblue;
            }
        h2 {
            font-family: "sofachrome", sans-serif;
            font-weight: 300;
            font-style: normal;
            font-size: 22px;
            padding-bottom: 1%;
            margin-top: 3%;
            color: $lgblue;
            padding-left: 25%;
        }
        .dave{
            padding-left: 25%;
        }
    }
    .packages {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        font-family: "roboto", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 20px;
        gap: 25px;
        margin-top: 3%;
        .package {
            padding: 25px;
            box-sizing: border-box;
            width: 300px;
            height: 550px;
            border-radius: $b-border;
            backdrop-filter: blur(16px) saturate(180%) opacity(50%);
            -webkit-backdrop-filter: blur(16px) saturate(180%) opacity(50%);
            background: rgba(229, 240, 255, 0.5);
            background: linear-gradient(
                317deg,
                rgba(229, 240, 255, 0.01) 0%,
                rgba(229, 240, 255, 0.2) 100%
            );

            &.lord {
                border: 3px rgba(249, 185, 111, 0.7) solid;
                backdrop-filter: blur(16px) saturate(180%) opacity(50%);
                -webkit-backdrop-filter: blur(16px) saturate(180%)
                    opacity(50%);
                background: rgba(229, 240, 255, 0.5);
                background: linear-gradient(
                    317deg,
                    rgba(229, 240, 255, 0.05) 0%,
                    rgba(249, 185, 111, 0.3) 100%
                );
            }
            &.banner {
                clip-path: polygon(39.25% 25%, 75% 60.5%, 75% 75%, 25% 25%);
                background-color: $yellow;
            }

            h3 {
                margin: 0;
                margin-top: 15px;
                font-family: "sofachrome", sans-serif;
                font-weight: 300;
                font-style: normal;
                font-size: 20px;
                margin-top: 1%;
            }

            .prices {
                display: flex;
                gap: 15px;
                align-items: baseline;

                .price {
                    font-size: 40px;
                    margin-bottom: 3%;
                }
                .day {
                    opacity: 50%;
                }
            }

            .button1 {
                width: 100%;
            }

            .line {
                margin-top: 20px;
                height: 2px;
                width: 100%;
                background-color: $blue;
                opacity: 50%;
            }

            .details {
                margin-top: 5%;

                .title {
                    font-weight: bold;
                }

                ul li {
                    opacity: 50%;
                    margin-top: 3%;
                }
            }

            .includes {
                margin-top: 5%;
                .title {
                    font-weight: bold;
                }

                ul {
                    list-style-type: none;
                    padding-left: 10px;
                    margin-top: 3%;

                    .include {
                        display: flex;
                        align-items: center;
                        gap: 10px;

                        li {
                            opacity: 50%;
                        }
                    }
                }
            }
        }
    }

        .validation {
            font-family: "roboto", sans-serif;
            font-weight: 400;
            font-style: normal;
            font-size: 20px;
            margin-top: 15%;

            h2 {
                font-family: "sofachrome", sans-serif;
                font-weight: 300;
                font-style: normal;
                font-size: 22px;
                margin-top: 10%;
                color: $yellow;

            }
            .calendar {
                max-width: 100%;
                border-radius: $b-border;
                padding: 40px;
                display: flex;
                justify-content: space-between;
                backdrop-filter: blur(16px) saturate(180%) opacity(50%);
                -webkit-backdrop-filter: blur(16px) saturate(180%) opacity(50%);
                background: rgba(229, 240, 255, 0.5);
                background: linear-gradient(
                    317deg,
                    rgba(229, 240, 255, 0.01) 0%,
                    rgba(229, 240, 255, 0.2) 100%
                );

                .days_container {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;

                    h3 {
                        margin: 0;
                        padding-bottom: 40px;
                        font-family: "sofachrome", sans-serif;
                        font-weight: 300;
                        font-style: normal;
                        font-size: 20px;
                    }

                    .week {
                        display: flex;
                        flex-wrap: wrap;
                        width: 90px * 8;
                        gap: 10px;

                        .week_day {
                            box-sizing: border-box;
                            width: 90px;
                            height: 40px;
                            background-color: $lgpurp;
                            border-radius: $sm-border;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            font-size: 18px;
                            font-weight: 300;
                        }
                    }
                    .days {
                        margin-top: 10px;
                        display: flex;
                        flex-wrap: wrap;
                        width: 90px * 8;
                        gap: 10px;

                        .b_day {
                            box-sizing: border-box;
                            width: 90px;
                            height: 70px;
                            border: 2px solid #555;
                            border-radius: $sm-border;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            font-size: 18px;
                            font-weight: 300;
                        }

                        .day {
                            backdrop-filter: blur(16px) saturate(180%)
                                opacity(1%);
                            -webkit-backdrop-filter: blur(16px) saturate(180%);
                            background: rgba(229, 240, 255, 0.3);
                            background: linear-gradient(
                                317deg,
                                rgba(229, 240, 255, 0.01) 0%,
                                rgba(229, 240, 255, 0.2) 100%
                            );
                            box-sizing: border-box;
                            width: 90px;
                            height: 70px;
                            border: 2px solid #555;
                            border-radius: $sm-border;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            font-size: 18px;
                            font-weight: 300;
                        }
                        .day:hover {
                            border: 2px solid $yellow;
                        }
                        .selected {
                            border: 3px rgba(249, 185, 111, 0.7) solid;
                            backdrop-filter: blur(16px) saturate(180%)
                                opacity(50%);
                            -webkit-backdrop-filter: blur(16px) saturate(180%)
                                opacity(50%);
                            background: rgba(229, 240, 255, 0.5);
                            background: linear-gradient(
                                317deg,
                                rgba(229, 240, 255, 0.05) 0%,
                                rgba(249, 185, 111, 0.3) 100%
                            );
                        }
                    }
                }

                .user_infos {
                    margin-top: 95px;
                    border-left: 1px solid $blue;
                    border-right: 1px solid $blue;
                    padding: 0px 20px 0px 20px;
                    box-sizing: border-box;
                    width: 300px;

                    .username {
                        .opacity {
                            opacity: 50%;
                        }
                        p {
                            margin: 3% 0%;
                        }
                    }

                    .reservation_date {
                        p {
                            margin: 3% 0%;
                        }
                        .gold {
                            color: $yellow;
                        }
                    }

                    .reservation_date_end {
                        p {
                            margin: 3% 0%;
                        }
                        .gold {
                            color: $yellow;
                        }
                    }

                    .address {
                        p {
                            margin: 3% 0%;
                        }
                        .opacity {
                            opacity: 50%;
                        }
                    }
                }
            }
            .validation_package {
                margin-top: 95px;
                h3 {
                    font-family: "sofachrome", sans-serif;
                    font-weight: 300;
                    font-style: normal;
                    font-size: 20px;
                    width: 350px;
                }

                .validation_prices {
                    display: flex;
                    gap: 15px;
                    align-items: baseline;
                    padding-bottom: 3%;

                    .validation_price {
                        margin: 0;
                        font-size: 40px;
                    }
                    .day {
                        opacity: 50%;
                    }
                }
                .validation_line {
                    height: 2px;
                    width: 100%;
                    background-color: $blue;
                    opacity: 50%;
                }
                .validation_details {
                    .validation_title {
                        font-weight: bold;
                    }

                    ul li {
                        opacity: 50%;
                        margin-top: 1%;
                    }
                }

                .validation_includes {
                    .validation_title {
                        font-weight: bold;
                    }
                    ul {
                        list-style-type: none;
                        padding-left: 10px;

                        .validation_include {
                            display: flex;
                            align-items: center;
                            gap: 10px;

                            li {
                                opacity: 50%;
                            }
                        }
                    }
                }
            }
        }
        .list {
            margin-top: 15%;

            .container_list {
                border: 1px solid $blue;
                border-radius: $b-border;

                .reservation_title {
                    backdrop-filter: blur(16px) saturate(180%) opacity(1%);
                    -webkit-backdrop-filter: blur(16px) saturate(180%);
                    background: rgba(229, 240, 255, 0.3);
                    background: linear-gradient(
                        317deg,
                        rgba(229, 240, 255, 0.01) 0%,
                        rgba(229, 240, 255, 0.2) 100%
                    );
                    border-radius: 20px 20px 0px 0px;

                    display: flex;
                    align-items: center;

                    .width {
                        width: 25%;
                    }
                }
                .reservation_list {
                    display: flex;
                    align-items: center;
                    width: 100%;
                    border-top: 1px solid $blue;

                    .width {
                        width: 25%;
                    }
                }
            }
        }
    }

