/***********************************************************
                        VARIABLES

***********************************************************/

    /********************|  BORDER  |*******************/
    /*  sm- = small
    b-  = big  */
    $sm-border: 8px;
    $b-border:20px;

/********************|  COLOR  |********************/
/*  d-  = dark
    sd- = semi-dark  */

    $d-blue: #0A0421;
    $sd-blue: #143057;
    $blue: #2B6388;
    $d-purple: #2C2159;
    $purple: #9D4AB2;
    $gold: #F9B96F;
    $white: #E5F0FF;

/********************|  FONT  |*********************/

/* <link rel="stylesheet" href="https://use.typekit.net/vko1nol.css"> */

/*SOFACHROME regular*/
    // font-family: "sofachrome", sans-serif;
    // font-weight: 400;
    // font-style: normal;
/*SOFACHROME light*/
    // font-family: "sofachrome", sans-serif;
    // font-weight: 300;
    // font-style: normal;

/*<link rel="stylesheet" href="https://use.typekit.net/vko1nol.css">*/

/*ROBOTO regular*/
    // font-family: "roboto", sans-serif;
    // font-weight: 400;
    // font-style: normal;
/*ROBOTO bold*/
    // font-family: "roboto", sans-serif;
    // font-weight: 700;
    // font-style: normal;


/**********H1***********/
    // font-family: "sofachrome", sans-serif;
    // font-weight: 400;
    // font-style: normal;
    // font-size: 24px;
    // color: $white;

/**********H2***********/
    // font-family: "sofachrome", sans-serif;
    // font-weight: 300;
    // font-style: normal;
    // font-size: 22px;
    // color: $white;

/**********H3***********/
    // font-family: "sofachrome", sans-serif;
    // font-weight: 300;
    // font-style: normal;
    // font-size: 20px;
    // color: $white;

/**********p***********/
    // // font-family: "roboto", sans-serif;
    // font-weight: 400;
    // font-style: normal;
    // font-size: 20px;
    // color: $white;


   body{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
        margin: 0 auto;
        background-color: $d-blue;
        color: $white;


        h1{
            font-family: "sofachrome", sans-serif;
            font-weight: 400;
            font-style: normal;
            font-size: 24px;
        }
        #app{


        h2{
            font-family: "sofachrome", sans-serif;
            font-weight: 300;
            font-style: normal;
            font-size: 22px;
        }

        .packages {

            height: 100%;
            width:100%;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            font-family: "roboto", sans-serif;
            font-weight: 400;
            font-style: normal;
            font-size: 20px;




            .package {
                padding: 25px;
                box-sizing: border-box;
                width: 350px;
                height: 650px;
                border-radius: $b-border;
                backdrop-filter: blur(16px) saturate(180%) opacity(50%);
                -webkit-backdrop-filter: blur(16px) saturate(180%) opacity(50%);
                background: rgba(229, 240, 255, 0.5);
                background: linear-gradient(317deg, rgba(229,240,255,0.01) 0%, rgba(229,240,255,0.2) 100%);

           &.lord{

                border: 3px rgba(249, 185, 111, 0.7) solid;
                backdrop-filter: blur(16px) saturate(180%) opacity(50%);
                -webkit-backdrop-filter: blur(16px) saturate(180%) opacity(50%);
                background: rgba(229, 240, 255, 0.5);
                background: linear-gradient(317deg,rgba(229,240,255,0.05) 0%, rgba(249, 185, 111, 0.3) 100%);
            }
            &.banner{
                clip-path: polygon(39.25% 25%, 75% 60.5%, 75% 75%, 25% 25%);
                background-color: $gold;
            }


                h3{
                    margin: 0;
                    margin-top: 15px;
                    font-family: "sofachrome", sans-serif;
                    font-weight: 300;
                    font-style: normal;
                    font-size: 20px;
                }

                .prices{
                    display: flex;
                    gap: 15px;
                    align-items: baseline;

                    .price{
                        margin: 0;
                        font-size: 40px;
                    }
                    .day{
                        opacity: 50%;
                    }
                }

                .line{
                    margin-top: 20px;
                    height: 2px;
                    width: 100%;
                    background-color: $blue;
                    opacity: 50%;
                }

                .details{

                    .title{
                        font-weight: bold ;
                    }

                    ul li{
                        opacity: 50%;
                    }

                }

                .includes{

                    .title{
                        font-weight: bold ;
                    }


                        ul {
                             list-style-type: none;
                             padding-left: 10px;

                             .include{

                                display: flex;
                                align-items: center;
                                gap: 10px;

                                li {
                                    opacity: 50%;
                                }

                        }
                    }

                }

            }

        }


        .validation {
            font-family: "roboto", sans-serif;
            font-weight: 400;
            font-style: normal;
            font-size: 20px;

            h2{
                font-family: "sofachrome", sans-serif;
                font-weight: 300;
                font-style: normal;
                font-size: 22px;
                margin-top: 10%;
            }
            .calendar{
                max-width: 100%;
                border-radius: $b-border;
                padding: 40px;
                display: flex;
                justify-content: space-between;
                backdrop-filter: blur(16px) saturate(180%) opacity(50%);
                -webkit-backdrop-filter: blur(16px) saturate(180%) opacity(50%);
                background: rgba(229, 240, 255, 0.5);
                background: linear-gradient(317deg, rgba(229,240,255,0.01) 0%, rgba(229,240,255,0.2) 100%);

                    .days_container{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-direction: column;

                        h3 {
                            margin: 0;
                            padding-bottom: 40px;
                            font-family: "sofachrome", sans-serif;
                            font-weight: 300;
                            font-style: normal;
                            font-size: 20px;
                        }

                        .week{
                            display: flex;
                            flex-wrap: wrap;
                            width: 90px * 8;
                            gap: 10px;

                            .week_day{
                                box-sizing: border-box;
                                width: 90px;
                                height: 40px;
                                background-color: $purple;
                                border-radius: $sm-border;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                font-size: 18px;
                                font-weight: 300;
                            }

                        }
                        .days{
                            margin-top: 10px;
                            display: flex;
                            flex-wrap: wrap;
                            width: 90px * 8;
                            gap: 10px;

                            .b_day{
                                box-sizing: border-box;
                                width: 90px;
                                height: 70px;
                                border: 2px solid #555;
                                border-radius: $sm-border;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                font-size: 18px;
                                font-weight: 300;
                            }

                            .day{
                                backdrop-filter: blur(16px) saturate(180%) opacity(1%);
                                -webkit-backdrop-filter: blur(16px) saturate(180%);
                                background: rgba(229, 240, 255, 0.3);
                                background: linear-gradient(317deg, rgba(229,240,255,0.01) 0%, rgba(229,240,255,0.2) 100%);
                                box-sizing: border-box;
                                width: 90px;
                                height: 70px;
                                border: 2px solid #555;
                                border-radius: $sm-border;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                font-size: 18px;
                                font-weight: 300;
                            }
                            .day:hover{
                                border: 2px solid $gold;
                            }
                            .selected{
                                border: 3px rgba(249, 185, 111, 0.7) solid;
                                backdrop-filter: blur(16px) saturate(180%) opacity(50%);
                                -webkit-backdrop-filter: blur(16px) saturate(180%) opacity(50%);
                                background: rgba(229, 240, 255, 0.5);
                                background: linear-gradient(317deg,rgba(229,240,255,0.05) 0%, rgba(249, 185, 111, 0.3) 100%);
                            }

                        }

                    }

                    .user_infos{
                        margin-top: 95px;
                        border-left: 1px solid $blue ;
                        border-right: 1px solid $blue ;
                        padding: 0px 20px 0px 20px;
                        box-sizing: border-box;
                        width:300px;

                        .reservation_date{
                            .gold{
                                color: $gold;
                            }
                        }

                    }
            }
            .validation_package{
                margin-top: 95px;
                h3 {

                    font-family: "sofachrome", sans-serif;
                    font-weight: 300;
                    font-style: normal;
                    font-size: 20px;
                    width:350px;

                }

                .validation_prices{
                    display: flex;
                    gap: 15px;
                    align-items: baseline;

                    .validation_price{
                        margin: 0;
                        font-size: 40px;
                    }
                    .day{
                        opacity: 50%;
                    }

                }
                .validation_line{

                    height: 2px;
                    width: 100%;
                    background-color: $blue;
                    opacity: 50%;

                }
                .validation_details{

                    .validation_title{
                        font-weight: bold ;
                    }

                    ul li{
                        opacity: 50%;
                    }

                }

                .validation_includes{

                    .validation_title{
                        font-weight: bold ;
                    }


                        ul {
                             list-style-type: none;
                             padding-left: 10px;

                             .validation_include{

                                display: flex;
                                align-items: center;
                                gap: 10px;

                                li {
                                    opacity: 50%;
                                }

                        }
                    }

                }


            }


        }

   }

}
