/**
 * VARIABLES
 */ /* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
dl,
dd {
  margin: 0;
}

/* Remove list styles */
ul,
ol {
  list-style: none;
}

/* Set default line height */
body {
  line-height: 1.4;
}

/* Remove default link styles */
a {
  color: inherit;
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #0a0421;
}

section.actualites {
  display: block;
  position: relative;
  height: 100vh;
  width: 100%;
}
section.actualites .section-header-content {
  display: flex;
  position: absolute;
  text-align: center;
  top: 24%;
  flex-direction: column;
  align-items: center;
  width: 41em;
  left: 50%;
  transform: translate(-50%, -50%);
}
section.actualites .section-header-content h1 {
  font-family: "sofachrome", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  color: #f9b96f;
  margin-bottom: 8px;
}
section.actualites .section-header-content p {
  font-family: "roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  color: #e5f0ff;
}
section.actualites .container-actualites {
  position: absolute;
  top: 58%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  width: 100%;
  justify-content: center;
}
section.actualites .container-actualites .actualite-card {
  position: relative;
  width: 352px;
  height: 476px;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background: rgb(229, 240, 255);
  background: linear-gradient(317deg, rgba(229, 240, 255, 0.4) 0%, rgba(229, 240, 255, 0.05) 100%);
  border-radius: 25px;
  border: 1px solid rgba(229, 240, 255, 0.125);
  margin-right: 23px;
  margin-top: 40px;
}
section.actualites .container-actualites .actualite-card .actualite-image-box {
  position: relative;
  width: 350px;
  height: 297px;
}
section.actualites .container-actualites .actualite-card .card-content {
  position: relative;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
section.actualites .container-actualites .actualite-card .card-content .title {
  position: absolute;
  font-family: "sofachrome", sans-serif;
  font-weight: bolder;
  font-style: normal;
  font-size: 18px;
  color: #f9b96f;
}
section.actualites .container-actualites .actualite-card .card-content .content {
  position: absolute;
  font-family: "roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: #e5f0ff;
  top: 28px;
  text-align: center;
}
section.actualites .container-actualites .actualite-card .card-content .date {
  position: absolute;
  top: 130px;
  left: 11px;
  font-family: "roboto", sans-serif;
  font-weight: 100;
  font-style: italic;
  color: #e5f0ff;
}
section.actualites .container-actualites .actualite-card .card-content .lire-plus {
  position: absolute;
  top: 108px;
  left: 59%;
  font-family: "roboto", sans-serif;
  color: #f9b96f;
  font-weight: bold;
}
section.actualites button {
  position: absolute;
  bottom: 6%;
  left: 50%;
  transform: translate(-50%, -50%);
}

section.next-event {
  display: flex;
  justify-content: center;
  position: relative;
  height: 100vh;
  width: 100%;
}
section.next-event video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
section.next-event .immersion-box {
  position: absolute;
  height: 38%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  left: 0;
  top: 33%;
  background: rgba(0, 0, 0, 0.35);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.8px);
  -webkit-backdrop-filter: blur(6.8px);
}
section.next-event .immersion-box .event-content {
  position: absolute;
  text-align: center;
  top: 7%;
}
section.next-event .immersion-box .event-content h2 {
  font-family: "sofachrome", sans-serif;
  font-weight: bolder;
  font-style: normal;
  font-size: 22px;
  color: #f9b96f;
}
section.next-event .immersion-box .event-content p {
  font-family: "roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  color: #e5f0ff;
}
section.next-event .countdown-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 51%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}
section.next-event .countdown-container .countdown-square {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 10px;
}
section.next-event .countdown-container .countdown-time {
  font-size: 72px;
  font-weight: bold;
  color: #ffffff;
}
section.next-event .countdown-container .countdown-abbr {
  font-size: 18px;
  text-transform: uppercase;
  color: #ffffff;
}
section.next-event button {
  position: absolute;
  bottom: 34%;
  left: 50%;
  transform: translate(-50%, -50%);
}/*# sourceMappingURL=style.css.map */