//COLORS
$black: #000000;
$white: #ffffff;
$dkpurp: #0A0421;
$dkblue: #143057;
$blue: #2B6388;
$purp: #2C2159;
$lgpurp:#9D4AB2;
$yellow:#F9B96F;
$lgblue:#E5F0FF;

//BORDERS
// sm- = small
// b-  = big
$sm-border: 8px;
$b-border:20px;

//REFERENCE FONTS
// Link SOFACHROME = <link rel="stylesheet" href="https://use.typekit.net/vko1nol.css%22%3E/
// Link ROBOTO = <link rel="stylesheet" href="https://use.typekit.net/vko1nol.css%22%3E*/

//SOFACHROME regular
    // font-family: "sofachrome", sans-serif;
    // font-weight: 400;
    // font-style: normal;

//SOFACHROME light
    // font-family: "sofachrome", sans-serif;
    // font-weight: 300;
    // font-style: normal;


//ROBOTO regular
    // font-family: "roboto", sans-serif;
    // font-weight: 400;
    // font-style: normal;

//ROBOTO bold
    // font-family: "roboto", sans-serif;
    // font-weight: 700;
    // font-style: normal;


/**H1**/
    // font-family: "sofachrome", sans-serif;
    // font-weight: 400;
    // font-style: normal;
    // font-size: 24px;
    // color: $white;

/**H2**/
    // font-family: "sofachrome", sans-serif;
    // font-weight: 300;
    // font-style: normal;
    // font-size: 22px;
    // color: $white;

/**H3**/
    // font-family: "sofachrome", sans-serif;
    // font-weight: 300;
    // font-style: normal;
    // font-size: 20px;
    // color: $white;

/**p**/
    // // font-family: "roboto", sans-serif;
    // font-weight: 400;
    // font-style: normal;
    // font-size: 20px;
    // color: $white;
