/**
 * VARIABLES
 */ /* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
dl,
dd {
  margin: 0;
}

/* Remove list styles */
ul,
ol {
  list-style: none;
}

/* Set default line height */
body {
  line-height: 1.4;
}

/* Remove default link styles */
a {
  color: inherit;
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #0a0421;
}

button.scroll-top {
  display: none;
  cursor: pointer;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 500;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  background: rgb(10, 4, 33);
  background: radial-gradient(circle, rgb(10, 4, 33) 45%, rgb(157, 74, 178) 51%, rgb(44, 33, 89) 55%, rgb(20, 48, 87) 58%, rgb(249, 185, 111) 73%);
  color: white;
  border: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
button.scroll-top .fa-chevron-up {
  color: white;
  font-size: 20px;
}
button.scroll-top:hover {
  animation: heartbeat-shadows 1.5s ease-in-out infinite both;
}

/**
 * ----------------------------------------
 * animation heartbeat shadow custom transition
 * ----------------------------------------
 */
@keyframes heartbeat-shadows {
  0% {
    transform: scale(1);
    transform-origin: center center;
    animation-timing-function: ease-out;
    box-shadow: 0px 0px 20px 10px #2b6388;
  }
  10% {
    transform: scale(0.91);
    animation-timing-function: ease-in;
    box-shadow: 0px 0px 20px 10px #2b6388;
  }
  17% {
    transform: scale(0.98);
    animation-timing-function: ease-out;
    box-shadow: 0px 0px 20px 10px #2c2159;
  }
  33% {
    transform: scale(0.87);
    animation-timing-function: ease-in;
    box-shadow: 0px 0px 20px 10px #2c2159;
  }
  45% {
    transform: scale(1);
    animation-timing-function: ease-out;
    box-shadow: 0px 0px 20px 10px #9d4ab2;
    background: rgb(10, 4, 33);
    background: radial-gradient(circle, rgb(10, 4, 33) 31%, rgb(157, 74, 178) 51%, rgb(44, 33, 89) 69%, rgb(20, 48, 87) 72%, rgb(249, 185, 111) 79%);
  }
  75% {
    box-shadow: 0px 0px 20px 10px #9d4ab2;
  }
  100% {
    box-shadow: 0px 0px 20px 10px #2b6388;
  }
}
section.actualites {
  display: block;
  position: relative;
  height: 100vh;
  width: 100%;
}
section.actualites .section-header-content {
  display: flex;
  position: absolute;
  text-align: center;
  top: 24%;
  flex-direction: column;
  align-items: center;
  width: 41em;
  left: 50%;
  transform: translate(-50%, -50%);
}
section.actualites .section-header-content h1 {
  font-family: "sofachrome", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  color: #f9b96f;
  margin-bottom: 8px;
}
section.actualites .section-header-content p {
  font-family: "roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  color: #e5f0ff;
}
section.actualites .container-actualites {
  position: relative;
  top: 58%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 100%;
}
section.actualites .container-actualites .carousel-container {
  position: relative;
  overflow: hidden;
  width: 1106px;
  margin: 0 auto;
}
section.actualites .container-actualites .carousel-container .carousel {
  display: flex;
  width: -moz-fit-content;
  width: fit-content;
  transition: transform 0.5s ease-in-out;
  transform: translateX(0);
}
section.actualites .container-actualites .carousel-container .carousel .actualite-card {
  position: relative;
  width: 352px;
  height: 476px;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background: rgb(229, 240, 255);
  background: linear-gradient(317deg, rgba(229, 240, 255, 0.4) 0%, rgba(229, 240, 255, 0.05) 100%);
  border-radius: 25px;
  border: 1px solid rgba(229, 240, 255, 0.125);
  margin-right: 23px;
  margin-top: 40px;
}
section.actualites .container-actualites .carousel-container .carousel .actualite-card .actualite-image-box {
  position: relative;
  width: 350px;
  height: 297px;
}
section.actualites .container-actualites .carousel-container .carousel .actualite-card .card-content {
  position: relative;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
section.actualites .container-actualites .carousel-container .carousel .actualite-card .card-content .title {
  position: absolute;
  font-family: "sofachrome", sans-serif;
  font-weight: bolder;
  font-style: normal;
  font-size: 18px;
  color: #f9b96f;
}
section.actualites .container-actualites .carousel-container .carousel .actualite-card .card-content .content {
  position: absolute;
  font-family: "roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: #e5f0ff;
  top: 28px;
  text-align: center;
}
section.actualites .container-actualites .carousel-container .carousel .actualite-card .card-content .date {
  position: absolute;
  top: 130px;
  left: 11px;
  font-family: "roboto", sans-serif;
  font-weight: 100;
  font-style: italic;
  color: #e5f0ff;
}
section.actualites .container-actualites .carousel-container .carousel .actualite-card .card-content .lire-plus {
  position: absolute;
  top: 108px;
  left: 59%;
  font-family: "roboto", sans-serif;
  color: #f9b96f;
  font-weight: bold;
}
section.actualites .container-actualites .chevron-left,
section.actualites .container-actualites .chevron-right {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  background-color: #0a0421;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  color: #e5f0ff;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
}
section.actualites .container-actualites .chevron-left {
  left: 0;
}
section.actualites .container-actualites .chevron-right {
  right: 0;
}
section.actualites button {
  position: absolute;
  bottom: 6%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}
.modal .modal-content {
  position: relative;
  background-color: #0a0421;
  padding: 20px;
  border-radius: 5px;
  max-width: 90%;
  max-height: 90%;
  overflow: auto;
  text-align: center;
  width: 45vw;
  height: 76vh;
}
.modal .modal-content h2 {
  margin-top: 43px;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
  color: #f9b96f;
  font-family: "sofachrome", sans-serif;
}
.modal .modal-content p {
  margin-bottom: 0;
  font-size: 18px;
  font-weight: 400;
  color: #e5f0ff;
  font-family: "roboto", sans-serif;
}
.modal .modal-content .modal-close {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 44px;
  color: #f9b96f;
  cursor: pointer;
  margin-right: 9px;
}

section.next-event {
  display: flex;
  justify-content: center;
  position: relative;
  height: 100vh;
  width: 100%;
}
section.next-event video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
section.next-event .immersion-box {
  position: absolute;
  height: 38%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  left: 0;
  top: 33%;
  background: rgba(0, 0, 0, 0.35);
  -webkit-backdrop-filter: blur(6.8px);
          backdrop-filter: blur(6.8px);
  box-shadow: 0px 0px 28px 6px rgba(249, 185, 111, 0.5);
}
section.next-event .immersion-box .event-content {
  position: absolute;
  text-align: center;
  top: 7%;
}
section.next-event .immersion-box .event-content h2 {
  font-family: "sofachrome", sans-serif;
  font-weight: bolder;
  font-style: normal;
  font-size: 22px;
  color: #f9b96f;
}
section.next-event .immersion-box .event-content p {
  font-family: "roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  color: #e5f0ff;
}
section.next-event .countdown-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 51%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}
section.next-event .countdown-container .countdown-square {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 10px;
}
section.next-event .countdown-container .countdown-time {
  font-size: 72px;
  font-weight: bold;
  color: #ffffff;
}
section.next-event .countdown-container .countdown-abbr {
  font-size: 18px;
  text-transform: uppercase;
  color: #ffffff;
}
section.next-event button {
  position: absolute;
  bottom: 34%;
  left: 50%;
  transform: translate(-50%, -50%);
}/*# sourceMappingURL=style.css.map */