@import "variables";
@import "reset";
@import "breakpoints";
@import "../buttons/buttons";



/* Remove default link styles */
a {
    color: inherit;
    text-decoration: none;
}


body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: $d-blue;
}

// Scroll to Top Styling
button.scroll-top {
    display: none;
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 500;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    background: rgb(10, 4, 33);
    background: radial-gradient(
        circle,
        rgba(10, 4, 33, 1) 45%,
        rgba(157, 74, 178, 1) 51%,
        rgba(44, 33, 89, 1) 55%,
        rgba(20, 48, 87, 1) 58%,
        rgba(249, 185, 111, 1) 73%
    );
    color: white;
    border: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

    .fa-chevron-up {
        color: white;
        font-size: 20px;
    }

    &:hover {
        animation: heartbeat-shadows 1.5s ease-in-out infinite both;
    }
}

/**
 * ----------------------------------------
 * animation heartbeat shadow custom transition
 * ----------------------------------------
 */
@keyframes heartbeat-shadows {
    0% {
        transform: scale(1);
        transform-origin: center center;
        animation-timing-function: ease-out;
        box-shadow: 0px 0px 20px 10px $blue;
    }
    10% {
        transform: scale(0.91);
        animation-timing-function: ease-in;
        box-shadow: 0px 0px 20px 10px $blue;
    }
    17% {
        transform: scale(0.98);
        animation-timing-function: ease-out;
        box-shadow: 0px 0px 20px 10px $d-purple;
    }
    33% {
        transform: scale(0.87);
        animation-timing-function: ease-in;
        box-shadow: 0px 0px 20px 10px $d-purple;
    }
    45% {
        transform: scale(1);
        animation-timing-function: ease-out;
        box-shadow: 0px 0px 20px 10px $purple;
        background: rgb(10, 4, 33);
        background: radial-gradient(
            circle,
            rgba(10, 4, 33, 1) 31%,
            rgba(157, 74, 178, 1) 51%,
            rgba(44, 33, 89, 1) 69%,
            rgba(20, 48, 87, 1) 72%,
            rgba(249, 185, 111, 1) 79%
        );
    }
    75% {
        box-shadow: 0px 0px 20px 10px $purple;
    }
    100% {
        box-shadow: 0px 0px 20px 10px $blue;
    }
}

.hero-section {
    position: relative;
    display: block;
    background-image: url("/images/arttech_imgs/mobile_desktop_Hero_containers/Hero_custom_container_sz_lg.webp");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 100vh;
    @media (max-width: $hero-lg) {
    }
    video {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: auto;
        max-width: 768px;
        max-height: 432px;
        object-fit: cover;
        @media (max-width: $hero-lg) {
            padding: 0 20px;
        }
    }
    .hero-content {
        position: absolute;
        left: 50%;
        top: 83%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 768px;
        @media (max-width: $hero-md) {
            top: 78%;
        }
        h1 {
            font-family: "sofachrome", sans-serif;
            font-weight: 400;
            font-style: normal;
            font-size: 1.5rem;
            color: $gold;
            text-align: center;
            margin: 15px 0;
        }
        p {
            font-family: "roboto", sans-serif;
            font-weight: 300;
            font-style: normal;
            font-size: 16px;
            color: $white;
            text-align: center;
            margin-bottom: 10px;
        }
    }
}

.story-section {
    position: relative;
    display: block;
    width: 100%;
    height: 100vh;
    @media (max-width: $story-xxl) {
    }

    .rectangle-gradient {
        position: absolute;
        top: 53px;
        left: 0;
        opacity: 50%;
        max-width: 655px;
        height: 393px;
        width: 100%;
        background: rgb(157, 74, 178);
        background: linear-gradient(
            180deg,
            rgba(157, 74, 178, 1) 0%,
            rgba(10, 4, 33, 1) 55%
        );

        @media (max-width: $story-xxl) {
            max-width: 519px;
        }
        @media (max-width: $story-xl) {
            top: 3%;
            max-width: 508px;
        }
        @media (max-width: $story-md) {
            top: 3%;
            max-width: 400px;
        }
    }

    .half-circle-gradient-box {
        position: absolute;
        top: 53px;
        right: 0;
        width: 200px;
        height: 200px;
        img.half-circle {
            opacity: 50%;
            width: 100%;
        }
        @media (max-width: $story-xxl) {
            width: 150px;
            height: 150px;
        }
        @media (max-width: $story-xl) {
            display: none;
        }
    }

    .img-story-container {
        position: absolute;
        max-width: 507px;
        min-height: 680px;
        top: 17%;
        left: 16%;
        margin-right: 25rem;
        img.arttech-expo {
            width: 100%;
        }
        @media (max-width: $story-xxl) {
            max-width: 400px;
        }
        @media (max-width: $story-xl) {
            left: 50%;
            top: 6%;
            transform: translateX(-50%);
            width: 400px;
            margin: 0;
        }
    }

    .story-content {
        position: absolute;
        max-width: 583px;
        min-height: 311px;
        top: 32%;
        right: 12%;
        margin-left: 845px;

        @media (max-width: $story-xxl) {
            margin-left: 677px;
        }
        @media (max-width: $story-xl) {
            margin: 0;
            text-align: center;
            left: 50%;
            transform: translateX(-50%);
            top: 75%;
            right: 0;
            width: 550px;
        }
        @media (max-width: $story-md) {
            width: 503px;
        }
        @media (max-width: $story-mds) {
            width: 450px;
        }
        h2 {
            font-family: "sofachrome", sans-serif;
            font-weight: bold;
            font-style: normal;
            font-size: 22px;
            color: $white;
            margin-bottom: 15px;

            @media (max-width: $story-xxl) {
                font-size: 20px;
            }
        }

        p {
            font-family: "roboto", sans-serif;
            font-weight: 400;
            font-style: normal;
            font-size: 20px;
            color: $white;

            @media (max-width: $story-xxl) {
                font-size: 16px;
            }
        }
    }
    .deco-dots-container {
        position: absolute;
        bottom: 52px;
        right: 4%;
        .circle-dots {
            width: 100%;
            @media (max-width: $story-xl) {
                font-size: 16px;
            }
        }
        @media (max-width: $story-xxl) {
            bottom: 20%;
            width: 10px;
        }
        @media (max-width: $story-xl) {
            left: 12%;
            bottom: 32%;
            width: 10px;
        }
        @media (max-width: $story-md) {
            width: 8px;
            left: 6%;
        }
        @media (max-width: $story-md) {
            left: 3%;
        }
    }
}

.activities-section {
    display: flex;
    justify-content: center;
    position: relative;
    width: 80%;
    height: 90vh;
    align-items: center;
    margin: 0 auto;
    margin-top: 60px;
    background-color: $d-blue;
    .gallery-container {
        position: absolute;
        max-width: 940px;
        height: 289px;
        width: 100%;
        top: 14%;
        .activity_one {
            position: absolute;
            left: 0%;

            img {
                width: 100%;
            }

            @media (max-width: $activity-xl) {
                width: 220px;
            }
            @media (max-width: $activity-md) {
                width: 150px;
            }
            @media (max-width: $activity-mds) {
                width: 120px;
            }
        }
        .activity_two {
            position: absolute;
            left: 17%;
            top: 10%;
            z-index: 1;
            img {
                width: 100%;
            }

            @media (max-width: $activity-xl) {
                width: 220px;
            }
            @media (max-width: $activity-md) {
                width: 150px;
            }
            @media (max-width: $activity-mds) {
                width: 120px;
            }
        }
        .activity_three {
            position: absolute;
            left: 34%;

            img {
                width: 100%;
            }

            @media (max-width: $activity-xl) {
                width: 220px;
            }
            @media (max-width: $activity-md) {
                width: 150px;
            }
            @media (max-width: $activity-mds) {
                width: 120px;
            }
        }
        .activity_four {
            position: absolute;
            left: 51%;
            top: 10%;
            z-index: 1;
            img {
                width: 100%;
            }

            @media (max-width: $activity-xl) {
                width: 220px;
            }
            @media (max-width: $activity-md) {
                width: 150px;
            }
            @media (max-width: $activity-mds) {
                width: 120px;
            }
        }
        .activity_five {
            position: absolute;
            left: 68%;
            img {
                width: 100%;
            }
            @media (max-width: $activity-xl) {
                width: 220px;
            }
            @media (max-width: $activity-md) {
                width: 150px;
            }
            @media (max-width: $activity-mds) {
                width: 120px;
            }
        }
        @media (max-width: $activity-xl) {
            width: 707px;
        }
        @media (max-width: $activity-md) {
            width: 500px;
        }
        @media (max-width: $activity-mds) {
            width: 400px;
        }
    }

    .activities-content {
        position: absolute;
        min-height: 311px;
        top: 55%;
        right: 50%;
        transform: translateX(50%);
        text-align: center;

        h2 {
            font-family: "sofachrome", sans-serif;
            font-weight: bold;
            font-style: normal;
            font-size: 22px;
            color: $white;
            margin-bottom: 15px;
            @media (max-width: $activity-xl) {
                font-size: 20px;
            }
        }

        p {
            font-family: "roboto", sans-serif;
            font-weight: 400;
            font-style: normal;
            font-size: 20px;
            margin-bottom: 25px;
            color: $white;
            @media (max-width: $activity-xl) {
                font-size: 18px;
            }
        }

        @media (max-width: $activity-xl) {
            width: 500px;
            top: 55%;
        }
        @media (max-width: $activity-md) {
            width: 428px;
            top: 45%;
        }
        @media (max-width: $activity-mds) {
            width: 375px;
            top: 45%;
        }
    }
    @media (max-width: $activity-xl) {
        height: 70vh;
    }
    @media (max-width: 1460px) {
        margin-top: 0;
    }
}

.news-section {
    position: relative;
    display: block;
    width: 100%;
    height: 100vh;
    .news-content {
        position: absolute;
        max-width: 583px;
        min-height: 311px;
        top: 32%;
        left: 9%;
        margin-right: 55rem;

        h2 {
            font-family: "sofachrome", sans-serif;
            font-weight: bold;
            font-style: normal;
            font-size: 22px;
            margin-bottom: 15px;
            color: $white;
            @media (max-width: $news-xxl) {
                font-size: 20px;
            }
        }

        p {
            font-family: "roboto", sans-serif;
            font-weight: 400;
            font-style: normal;
            font-size: 20px;
            color: $white;
            margin-bottom: 15px;
            @media (max-width: $news-xxl) {
                font-size: 18px;
            }
        }

        @media (max-width: $news-xxl) {
            margin-right: 799px;
            width: 485px;
        }
        @media (max-width: $news-xxlc) {
            transform: translateX(-50%);
            width: 441px;
            left: 50%;
            text-align: center;
            top: 77%;
        }
        @media (max-width: $news-lg) {
            top: 65%;
        }
    }

    .news-image-container {
        position: absolute;
        right: 12%;
        top: 20%;
        max-width: 595px;
        min-height: 570px;
        width: 39%;
        img.news {
            max-width: 100%;
        }

        @media (max-width: $news-xxl) {
            max-width: 466px;
        }
        @media (max-width: 1303px) {
            max-width: 440px;
        }
        @media (max-width: $news-xxlc) {
            transform: translateX(-50%);
            width: 441px;
            left: 50%;
        }
        @media (max-width: $news-lg) {
            width: 350px;
        }
        @media (max-width: $news-md) {
            width: 320px;
        }
    }

    .half-circle-gradient-box-left {
        position: absolute;
        top: 10%;
        left: 0;
        width: 200px;
        height: 200px;
        rotate: 180deg;
        img.half-circle-left {
            width: 100%;
            opacity: 50%;
        }
        @media (max-width: $news-xxl) {
            width: 106px;
        }
        @media (max-width: $news-xxlc) {
            width: 124px;
        }
        @media (max-width: $news-lg) {
            width: 150px;
        }
        @media (max-width: $news-md) {
            width: 116px;
        }
    }
    .half-circle-gradient-box-right {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 200px;
        height: 200px;
        img.half-circle-right {
            width: 100%;
            opacity: 50%;
        }
        @media (max-width: $news-xxl) {
            width: 150px;
            bottom: 10%;
        }
        @media (max-width: $news-xxlc) {
            width: 132px;
        }
        @media (max-width: $news-lg) {
            bottom: 20%;
        }
        @media (max-width: $news-md) {
            width: 111px;
            bottom: 29%;
        }
    }

    .medium-gradient-circle {
        position: absolute;
        bottom: 22%;
        right: 6%;
        width: 85px;
        height: 85px;
        border-radius: 100%;
        background: rgb(157, 74, 178);
        background: linear-gradient(
            180deg,
            rgba(157, 74, 178, 1) 0%,
            rgba(44, 33, 89, 1) 0%,
            rgba(157, 74, 178, 1) 55%
        );
        opacity: 50%;

        @media (max-width: $news-xxl) {
            width: 60px;
            height: 60px;
            bottom: 35%;
        }
        @media (max-width: $news-xxlc) {
            right: 20%;
        }
        @media (max-width: $news-lg) {
            bottom: 47%;
            width: 50px;
            height: 50px;
            right: 15%;
        }
        @media (max-width: $news-md) {
            width: 33px;
            height: 33px;
            bottom: 51%;
            right: 10%;
        }
    }

    .small-gradient-circle {
        position: absolute;
        bottom: 8%;
        right: 44%;
        width: 56px;
        height: 56px;
        border-radius: 100%;
        background: rgb(157, 74, 178);
        background: linear-gradient(
            180deg,
            rgb(157, 74, 178) 0%,
            rgb(44, 33, 89) 0%,
            rgb(157, 74, 178) 55%
        );
        opacity: 50%;

        @media (max-width: $news-xxl) {
            width: 30px;
            height: 30px;
            bottom: 26%;
        }
        @media (max-width: $news-xxlc) {
            left: 23%;
            bottom: 34%;
        }
        @media (max-width: $news-lg) {
            width: 25px;
            height: 25px;
            bottom: 42%;
        }
        @media (max-width: $news-md) {
            width: 15px;
            height: 15px;
            bottom: 46%;
            left: 19%;
        }
    }
}

.sponsors-section {
    position: relative;
    display: block;
    width: 100%;
    height: 31vh;
    margin-top: 203px;
    h2 {
        font-family: "sofachrome", sans-serif;
        font-weight: bold;
        font-style: normal;
        font-size: 22px;
        margin-bottom: 5px;
        margin-top: 60px;
        color: $white;
        text-align: center;
    }

    .sponsors-container {
        position: absolute;
        top: 11%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        min-height: 241px;
        width: 100%;
        background-color: black;
        margin-top: 19px;
        .sponsor-one {
            width: 160px;
            height: 126px;
            img.future-tech {
                width: 100%;
            }
            @media (max-width: $sponsors-lg) {
                width: 118px;
            }
            @media (max-width: $sponsors-md) {
                width: 100px;
            }
            @media (max-width: $sponsors-mds) {
                width: 26%;
            }
        }
        .sponsor-two {
            width: 276px;
            height: 137px;
            img.cstj {
                width: 100%;
            }
            @media (max-width: $sponsors-lg) {
                width: 218px;
            }
            @media (max-width: $sponsors-md) {
                width: 176px;
            }
            @media (max-width: $sponsors-mds) {
                width: 45%;
                margin: 20px 0px;
            }
        }
        .sponsor-three {
            width: 138px;
            height: 138px;
            img.donutco {
                width: 100%;
            }
            @media (max-width: $sponsors-lg) {
                width: 105px;
            }
            @media (max-width: $sponsors-md) {
                width: 92px;
            }
            @media (max-width: $sponsors-mds) {
                width: 22%;
            }
        }
        @media (max-width: $sponsors-md) {
            min-height: 268px;
        }
        @media (max-width: $sponsors-mds) {
            flex-direction: column;
            height: 497px;
        }
    }
    @media (max-width: $sponsors-xxl) {
        margin-top: 0;
    }
    @media (max-width: $sponsors-xxlc) {
        margin-top: 300px;
    }
    @media (max-width: $sponsors-lg) {
        margin-top: 200px;
    }
}

.reviews-section {
    position: relative;
    background-image: url("/images/arttech_imgs/homepage_imgs/section_reviews/background_reviews.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 100vh;
    background-color: transparent;
    height: 69vh;
    padding-top: 100px;

    h2 {
        font-family: "sofachrome", sans-serif;
        font-weight: bold;
        font-style: normal;
        font-size: 22px;
        margin-bottom: 30px;
        color: $gold;
        text-align: center;
    }
    .slider-container {
        position: relative;
        overflow: hidden;
        margin: 0 auto;
        width: 80%;
        max-width: 800px;
        .slider-track {
            display: flex;
            transition: transform 0.3s ease-in-out;
            .slider-item {
                position: relative;
                flex: 0 0 100%;
                margin-right: 20px;
                &.active {
                    display: flex;
                }
                .testimonial {
                    border-radius: 10px;
                    padding: 20px;
                    text-align: center;

                    img {
                        display: block;
                        margin: 0 auto;
                        width: 200px;
                        height: 200px;
                        border-radius: 50%;
                        margin-bottom: 10px;
                    }
                    p {
                        font-family: "roboto", sans-serif;
                        font-size: 18px;
                        line-height: 1.5;
                        margin-bottom: 10px;
                        color: $white;
                    }
                    h4 {
                        font-family: "roboto", sans-serif;
                        font-size: 22px;
                        font-weight: bold;
                        margin-bottom: 0;
                        color: $gold;
                    }
                }
            }
        }
        .slider-controls {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 100%;
            display: flex;
            justify-content: space-between;
            .slider-control {
                background: transparent;
                border: none;
                outline: none;
                cursor: pointer;

                i {
                    font-size: 25px;
                    color: $white;
                }
            }
        }
    }
    @media (max-width: $reviews-mds) {
        margin-top: 263px;
        height: 83vh;
    }
}
