/**
 * VARIABLES
 */

// Border
// Sm = small
// B = big
$sm-border: 8px;
$b-border: 20px;

// Color
// D = dark
// Sd = semi-dark
$d-blue: #0a0421;
$sd-blue: #143057;
$blue: #2b6388;
$d-purple: #2c2159;
$purple: #9d4ab2;
$gold: #f9b96f;
$white: #e5f0ff;

// Font
// Sofachrome Regular
// font-family: "sofachrome", sans-serif;
// font-weight: 400;
// font-style: normal;
//
// Sofachrome Light
// font-family: "sofachrome", sans-serif;
// font-weight: 300;
// font-style: normal;
//
// Roboto Regular
// font-family: "roboto", sans-serif;
// font-weight: 400;
// font-style: normal;
//
// Roboto Bold
// font-family: "roboto", sans-serif;
// font-weight: 700;
// font-style: normal;

// H1
// font-family: "sofachrome", sans-serif;
// font-weight: 400;
// font-style: normal;
// font-size: 24px;
// color: $white;

// H2
// font-family: "sofachrome", sans-serif;
// font-weight: 300;
// font-style: normal;
// font-size: 22px;
// color: $white;

// H3
// font-family: "sofachrome", sans-serif;
// font-weight: 300;
// font-style: normal;
// font-size: 20px;
// color: $white;

// P
// font-family: "roboto", sans-serif;
// font-weight: 400;
// font-style: normal;
// font-size: 20px;
// color: $white;
