// 0a0421
// 143057
// 2b6388
// 2c2159
// 9d4ab2
// f9b96f
// e5f0ff

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #0a0421;
    color: #e5f0ff;
    font-family: roboto;
}

h1 {
    font-size: 24px;
    font-family: sofachrome;
}

.navbar {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    display: flex;
    flex-direction: column;
    width: 100%;

    .main_contact {
        display: flex;
        justify-content: space-evenly;
        width: 70%;
        margin: auto;
        z-index: 1;

        .background_image_container {
            position: absolute;
            height: 100%;
            width: 100%;
            z-index: 0;
            background-image: url('../../images/general/Vue_festival.png');
            background-size: cover;
            opacity: 10%;
        }

        .contact_container {
            display: flex;
            flex-direction: row;
            align-items: center;
            min-height: 100vh;
            max-height: fit;

            .divider {
                height: 50%;
                width: 1px;
                background-color: #f9b96f;
                opacity: 25%;
                margin: 0 30px;
            }

            .information,
            .message,
            .contact {
                width: calc(100% / 3);
                z-index: 1;
                height: 50%;
                display: flex;
                flex-direction: column;
                // height: 100vh;
            }

            .information > * {
                font-size: 20px;
                margin-bottom: 20px;
            }

            .message {
                font-size: 20px;
                justify-content: space-between;

                input {
                    border-radius: 8px;
                    height: 38px;
                    opacity: 28%;
                    width: 100%;
                }

                textarea {
                    border-radius: 8px;
                    height: 152px;
                    width: 100%;
                    opacity: 28%;
                }

                .message_button {
                    opacity: 100%;
                    width: 150px;
                    margin: 0 auto;
                }
            }

            .contact {
                font-size: 20px;
                &>* {margin-bottom: 50px;}
                .numero_container {
                    display: flex;
                    flex-direction: row;

                    .numero_image {
                        width: 25px;
                        height: 25px;
                        margin-right: 20px;
                    }

                    .numero {
                        font-family: sofachrome;
                        color: #f9b96f;
                    }
                }

                .email_container {
                    display: flex;
                    flex-direction: row;

                    .email_image {
                        width: 25px;
                        height: 25px;
                        margin-right: 20px;
                    }
                }

                .location_container {
                    display: flex;
                    flex-direction: row;

                    .location_image {
                        width: 25px;
                        height: 25px;
                        margin-right: 20px;
                    }
                }
                .divider {
                    margin: auto 0;
                    height: 1px;
                    width: 60%;
                }

                .social {
                    display: flex;
                    flex-direction: row;
                    margin-top: auto;
                    &>* {
                        width: 30px;
                        margin-right: 20px;
                    }
                }
            }
        }
    }

    .map_container {
        width: 100%;
        height: 75vh;
        display: flex;
        justify-content: center;
        margin: auto;

        .map {
            height: 100%;
            width: 100%;
        }
    }
}

@media only screen and (max-width: 1200px) {
    .main>.main_contact>.contact_container {
        flex-direction: column;
        height: fit-content;
    }
    .main > .main_contact > .background_image_container {
        background-image: none;
    }

    .main > .main_contact > .contact_container > .message {
        input,
        textarea {
            margin-bottom: 20px;
        }
    }
    .main > .main_contact > .contact_container > .information,
    .main > .main_contact > .contact_container > .message,
    .main > .main_contact > .contact_container > .contact {
        width: 100%;
        margin-bottom: 30px;
        align-items: center;
        &>.social {
            justify-content: center;
        }
        &>.divider {
            display: none;
        }
    }
    .main > .main_contact > .contact_container > .message {
        align-items: baseline;
    }
}
