/***********************************************************
                        VARIABLES

***********************************************************/

    /********************|  BORDER  |*******************/
    /*  sm- = small
    b-  = big  */
        $sm-border: 8px;
        $b-border:20px;

    /********************|  COLOR  |********************/
    /*  d-  = dark
        sd- = semi-dark  */

        $d-blue: #0A0421;
        $sd-blue: #143057;
        $blue: #2B6388;
        $d-purple: #2C2159;
        $purple: #2C2159;
        $gold: #F9B96F;
        $white: #E5F0FF;

    /********************|  FONT  |*********************/

    /* <link rel="stylesheet" href="https://use.typekit.net/vko1nol.css"> */

    /*SOFACHROME regular*/
        // font-family: "sofachrome", sans-serif;
        // font-weight: 400;
        // font-style: normal;
    /*SOFACHROME light*/
        // font-family: "sofachrome", sans-serif;
        // font-weight: 300;
        // font-style: normal;

    /*<link rel="stylesheet" href="https://use.typekit.net/vko1nol.css">*/

    /*ROBOTO regular*/
        // font-family: "roboto", sans-serif;
        // font-weight: 400;
        // font-style: normal;
    /*ROBOTO bold*/
        // font-family: "roboto", sans-serif;
        // font-weight: 700;
        // font-style: normal;


    /**********H1***********/
        // font-family: "sofachrome", sans-serif;
        // font-weight: 400;
        // font-style: normal;
        // font-size: 24px;
        // color: $white;

    /**********H2***********/
        // font-family: "sofachrome", sans-serif;
        // font-weight: 300;
        // font-style: normal;
        // font-size: 22px;
        // color: $white;

    /**********H3***********/
        // font-family: "sofachrome", sans-serif;
        // font-weight: 300;
        // font-style: normal;
        // font-size: 20px;
        // color: $white;

    /**********p***********/
        // // font-family: "roboto", sans-serif;
        // font-weight: 400;
        // font-style: normal;
        // font-size: 20px;
        // color: $white;

